[submodule "dev/web-js_ab-layouts"]
	path = dev/web-js_ab-layouts
	url = https://github.com/allblue-pl/web-js_ab-layouts
[submodule "dev/web-js_ab-nodes"]
	path = dev/web-js_ab-nodes
	url = https://github.com/allblue-pl/web-js_ab-nodes
[submodule "dev/web-js_spocky"]
	path = dev/web-js_spocky
	url = https://github.com/allblue-pl/web-js_spocky
[submodule "dev/js_ab-fields"]
	path = dev/js_ab-fields
	url = https://github.com/allblue-pl/js_ab-fields
