
Var Type: $varType<br />
Object Type: $objType.var2<br />

Repeat:<br />
<$ _repeat="test.repeat1:r1">
    &nbsp;- $varType<br />
    &nbsp;- r1: $r1.title<br />
    <$ _repeat="r1.repeat2:r2">
        &nbsp;&nbsp;&nbsp;- $varType<br />
        &nbsp;&nbsp;&nbsp;- r2: $r2<br />
    </$>
    &nbsp;- $r1.r2<br />
    - Here<br />
    <$ _repeat="repeat3:r3">
        &nbsp;&nbsp;&nbsp;- r3: $r3<br />
    </$>
</$>

Test: $r1


<!-- <h1>Site</h1>

Buttons: <br />
<button _elem="addR1">Add R1</button> <button _elem="removeR1">Remove R1</button><br />
<button _elem="addR2">Add R2</button> <button _elem="removeR2">Remove R2</button><br />
<button _elem="showRepeat2">Show R2</button> <button _elem="hideRepeat2">Hide R2</button><br />

<h3>Title</h3>
<input _elem="title" type="text" />

<h3>Subtitles 1</h3>
<$ _repeat="repeat1:r1">
    <input _elem="subtitle1" type="text" /><br />
</$>
<hr />

<h3>Subtitles 2</h3>
<$ _repeat="repeat2:r2">
    <input _elem="subtitle2" type="text" /><br />
</$>
<hr />

<h1>Test: $title</h1>
<div _repeat="repeat1:r1">
    <h3>1. $title: $r1.subtitle</h3>
    <$ _repeat="repeat2:r2" _show="showRepeat2">
        <h4>2. $title: $r2.subtitle</h4>
    </$>
</div>

<hr />
<div _repeat="repeat2:r2">
    <h2>R2 Test</h2>
</div> -->
<!-- Panel: <br />
<div _holder="lb"></div> -->